body {
    background-color: #e6e6e6;
    margin: 0;
  }
  .container {
    width: 300px;
    height: 322px;
    background-color: white;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 30px;
    box-shadow: 3px 3px 2px 0px rgba(172, 172, 172, 0.57);
  }
  .title {
    color: #5f6877;
    padding: 15px;
    padding-left: 27px;
    border-bottom: 1px solid #eceff3;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  #cnumber {
    border: 2px solid #eceff3;
    margin-top: 25px;
    margin-left: 25px;
    border-radius: 5px;
    height: 15px;
    width: 228px;
    padding: 8px;
    font-size: 11px;
    background-color: white;
  }
  #month {
    border: 2px solid #eceff3;
    margin-top: 18px;
    margin-left: 25px;
    border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    height: 35px;
    width: 120px;
    padding-left: 15px;
    background-color: white;
  }
  #year {
    border: 2px solid #eceff3;
    margin-top: 18px;
    border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 3px;
    height: 35px;
    width: 120px;
    padding-left: 15px;
    background-color: white;
  }
  #cvv {
    border: 2px solid #eceff3;
    margin-top: 18px;
    margin-left: 25px;
    border-radius: 5px;
    width: 107px;
    padding-left: 8px;
    height: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 11px;
    background-color: white;
  }
  
  ::placeholder {
    color: #acb4bc;
    padding: 10px;
    opacity: 1;
  }
  
  select {
    color: #acb4bc;
    font-size: 11px;
    opacity: 1;
  }
  .div-text {
    display: inline-flex;
    justify-content: baseline; /* Center text within itself */
    height: 37px;
    width: 118px;
    font-size: 10px;
    color: #acb4bc;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 8px;
    position: relative;
    top: -5px;
  }
  
  .btn-text {
    width: 100px;
    color: white;
    font-weight: bold;
    font-size: 13px;
    margin-left: -30px;
  }
  
  .flex-box {
    display: flex;
    justify-content: center;
  }
  
  .span1 {
    color: #a5d7ec;
    font-size: 12px;
  }
  .span2 {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
    font-size: 13px;
  }
  .span3 {
    font-size: 2px;
    position: relative;
    top: -9px;
    left: 1px;
    font-weight: 100;
  }
  .btn {
    width: 250px;
    height: 30px;
    border-radius: 5px;
    border: none;
    margin-left: 25px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .btn-green {
    margin-top: 10px;
    color: white;
    background-color: #86c84a;
  }
  .btn-blue {
    background-color: #369ce1;
    color: white;
    margin-top: 8px;
  }
  button:hover {
    opacity: 0.8;
    cursor: pointer;
  }
  